 
.submit {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.cityText{
  padding: 10px;
}